:root {
    --text-color: #b1b7b7;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, rgba(4, 52, 52, 0.65), rgba(4, 52, 52, 0.65)),
                url('../assets/bg-live1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.green {
    color: #2e7c01;
}

.underlined-heading {
    color: var(--text-color);
    text-decoration: underline;
    font-size: 2.4rem;
    font-weight: 400;
}

section {
    margin: 0 auto;
    padding: 40px 15px;
    box-sizing: border-box;
}

section.white {
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
}

.content-wrapper {
    width: 55%;
    margin: 0 auto;
}

header {
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 5px;
}

header .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    align-self: flex-end;
    padding: 34px 0;
    box-sizing: border-box;
}

.nav-item {
    font-size: 1.4rem;
    padding: 16px;
    margin: 0 3px;
    color: #888;
    text-decoration: none;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.nav-item.active,
.nav-item:hover {
    background-color: #45ba01;
    color: #fff;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu,
.hamburger-close {
    vertical-align: middle;
    cursor: pointer;
}

.hide {
    display: none !important;
}

.hide-overflow {
    overflow: hidden;
}

/************* Collapsed navigation bar **************/
.collapsed-nav-container .nav-items-container {
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 5px 10px;
    box-sizing: border-box;
    background-color: rgba(4, 52, 52, 0.95);
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.5);
}

.collapsed-nav-container .slideIn {
    animation: slideIn 0.3s ease-out 0s 1 forwards;
}

.collapsed-nav-container .slideOut {
    animation: slideOut 0.3s ease-out 0s 1 forwards;
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slideOut {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

footer {
    background-color: #fff;
    margin-top: 150px;
    font-size: 1.4rem;
    padding: 30px 5px 10px;
}

footer .content-wrapper {
    display: flex;
    flex-direction: column;
}

footer .logo {
    width: 199px;
    margin-right: 15px;
}

.footer__first {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    color: #3e3c09;
    flex-direction: column;
}

.footer__first .social-links {
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}

.social-links img {
    margin: 0 0 0 5px;
}

.contact-info .address {
    margin-bottom: 5px;
}

.footer__second {
    display: flex;
    align-items: center;
}

.footer__second span {
    margin-right: 40px;
    color: #848079;
}

@media (max-width: 1350px) {
    .content-wrapper {
        width: 65%;
    }
}

@media (max-width: 1200px) {
    .content-wrapper {
        width: 70%;
    }
}

@media (max-width: 1100px) {
    .content-wrapper {
        width: 75%;
    }
}

@media (max-width: 1000px) {
    .content-wrapper {
        width: 80%;
    }
}

@media (max-width: 945px) {
    .content-wrapper {
        width: 90%;
    }
}

@media (max-width: 870px) {
    .content-wrapper {
        width: 95%;
    }

    header .logo {
        width: 150px;
    }
}

@media (max-width: 845px) {
    .footer__second img {
        width: 55%;
    }
}

@media (max-width: 760px) {
    .content-wrapper {
        width: 100%;
    }
}

@media (max-width: 715px) {
    .nav-item {
        padding: 12px;
    }
}

@media (max-width: 700px) {
    .footer__first {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer__first .social-links {
        margin-top: 20px;
    }
}

@media (max-width: 675px) {
    .content-wrapper {
        justify-content: space-between;
        width: 95%;
    }

    header {
        padding: 10px 0 0;
    }

    header nav {
        padding: 0;
        align-self: center;
    }

    .nav-items-container {
        display: none;
    }

    /* styles to be used on nav-item in collapsed navbar */
    .nav-item {
        font-size: 1.7rem;
        color: #fff;
        margin: 15px 0;
        padding: 16px;
    }

    .hamburger-menu {
        display: initial;
    }
}

@media (max-width: 615px) {
    .footer__first {
        flex-direction: column;
    }

    .footer__first .contact-info {
        margin-top: 20px;
        text-align: center;
    }

    .footer__first .social-links {
        align-self: center;
    }
}

@media (max-width: 550px) {
    footer .logo {
        width: 140px;
    }
}

@media (max-width: 460px) {
    .footer__first {
        flex-direction: column;
    }

    .footer__first .contact-info {
        text-align: center;
    }

    .footer__first .social-links {
        align-items: center;
        align-self: center;
    }
}

@media (max-width: 435px) {
    header {
        padding-left:  10px;
        padding-right: 10px;
    }

    header .logo {
        width: 110px;
    }
}

@media (max-width: 380px) {
    .footer__second {
        flex-direction: column;
    }

    .footer__second span {
        margin-right: 0;
        margin-bottom: 10px;
    }
}